<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Destination Policy Training</title>
        
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" onclick="location.href='@Url.Action("Index")'" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Destination Policy Training</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseA" href="#" onclick="location.href='@Url.Action("CaseA")'">Case A</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseB" href="#" onclick="location.href='@Url.Action("CaseB")'">Case B</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseC" href="#" onclick="location.href='@Url.Action("CaseC")'">Case C</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseD" href="#" onclick="location.href='@Url.Action("CaseD")'">Case D</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseE" href="#" onclick="location.href='@Url.Action("CaseE")'">Case E</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="URL_Params" href="#" onclick="location.href='@Url.Action("URL_Params")'">URL Parameters</a></li>

                        <!--
                        <li><a asp-area="" asp-controller="Home" asp-action="CaseE" href="#" onclick="location.href='@Url.Action("CaseE")'">Case E</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseF" href="#" onclick="location.href='@Url.Action("CaseF")'">Case F</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseG" href="#" onclick="location.href='@Url.Action("CaseG")'">Case G</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CaseH" href="#" onclick="location.href='@Url.Action("CaseH")'">Case H</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="TestPage" href="#" onclick="location.href='@Url.Action("TestPage")'">Test Page</a></li>
                        -->
                </ul>
            </div>
        </div>
    </div>
        
    <div class="container body-content">
        <hr />       
        <br>
        <h2>Current Page: @ViewData["Page"] </h2>
            <br><br>
            <p>This site serves as a training ground for learning how to troubleshoot landing pages that do not comply with AdWords' Destination Requirements.</p>
        <a name="673"></a>
        @RenderBody()
            
        <footer>
            <p>&copy; 2018 - adilt@@</p>
        </footer>
    </div>

</body>
</html>